:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --pink: #ff176b;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Poppins';
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url('assets/moviepitchbg-dark.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Typography */

h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
}

h2 {
  font-size: 1.3em;
}

p {
  line-height: 1.35em;
}

/* Sections */

header {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  z-index: 1000;
}

header>img {
  height: 26px;
}

header>a {
  color: var(--light);
  font-size: 24px;
  text-decoration: none;
  padding: 16px 0;
}

header span {
  font-weight: 700;
}

main {
  padding: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  border-radius: var(--border-rad-lg);
  padding: 16px;
  box-shadow: 0px 1px 18px 3px var(--dark);
  max-width: 500px;
  width: calc(100% - 32px);
  z-index: 1000;
}

/* Setup */

.setup-inner {
  display: flex;
  justify-content: space-around;
  padding: 24px 8px;
  min-height: 234px;
}

.setup-inner>img {
  width: 40%;
  filter: drop-shadow(3px 2px 3px var(--medium-dark));
  align-self: center;
}

.setup-input-container {
  min-height: 74px;
}

.speech-bubble-ai {
  max-width: 55%;
  min-height: 124px;
  border-radius: var(--border-rad-lg);
  position: relative;
  margin: 0;
  border: 3px solid var(--medium-dark);
  background-color: var(--white);
  align-self: flex-start;
  display: flex;
  align-items: center;
}

.speech-bubble-ai:before {
  content: "";
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 9px solid var(--medium-dark);
  border-top: 9px solid var(--medium-dark);
  border-bottom: 9px solid transparent;
  left: -21px;
  top: 64px;
}

.speech-bubble-ai:after {
  content: "";
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid var(--white);
  border-top: 7px solid var(--white);
  border-bottom: 7px solid transparent;
  left: -11px;
  top: 68px;
}

.speech-bubble-ai>p {
  padding: 0 1.3em;
  color: var(--dark);
  font-size: 14px;
}

textarea {
  background-color: var(--light-grey);
  padding: 8px;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: var(--border-rad-lg);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: var(--border-rad-lg);
  width: 100%;
  resize: none;
  min-height: 40px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

textarea::placeholder {
  color: var(--medium-dark);
  font-size: 14px;
  opacity: 0.8;
}

/* Larger mobiles+ */

@media(min-width: 380px) {
  .setup-input-container {
    padding-top: 0;
  }

  .speech-bubble-ai:before {
    top: 92px;
  }

  .speech-bubble-ai:after {
    top: 96px;
  }

  .speech-bubble-ai>p {
    font-size: 16px;
  }

  textarea::placeholder {
    font-size: 16px;
    opacity: 0.8;
  }
}

/* Buttons & SVG */

button {
  border: none;
  background: var(--pink);
  cursor: pointer;
}

button:hover {
  background-color: var(--dark);
}

.send-btn {
  border-top-right-radius: var(--border-rad-lg);
  border-bottom-right-radius: var(--border-rad-lg);
  min-width: 50px;
}

.send-btn>img {
  width: 1.6em;
  vertical-align: middle;
}

.view-pitch-btn {
  color: var(--light);
  border-radius: var(--border-rad-lg);
  padding: 16px;
  margin: 4px auto;
  display: block;
  font-size: 18px;
}

.view-pitch-btn:hover {
  box-shadow: 1px 1px 5px 1px var(--medium-dark);
}

img.loading {
  max-width: 40px;
  filter: none;
}

/* Output */

.output-container {
  display: none;
  flex-direction: column;
  margin: 16px auto;
  color: var(--dark);
  padding: 16px;
}

.output-img-container>img {
  width: 100%;
  border-radius: var(--border-rad-lg);
  box-shadow: 1px 1px 5px 1px var(--dark);
}

/* Footer */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark);
  color: var(--light);
  padding: 8px;
  font-size: 14px;
  text-align: center;
  z-index: 1000;
}
