:root {
  --white: #ffffff;
  --light: whitesmoke;
  --light-grey: #e8e8e8;
  --pink: #ff176b;
  --medium-dark: #777;
  --dark: #242526;
  --border-rad-lg: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
}

body {
  font-family: 'Poppins';
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url('assets/moviepitchbg-dark.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Typography */

h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
}

h2 {
  font-size: 1.3em;
}

p {
  line-height: 1.35em;
}
